* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: #111
}

.dark-mode {
    background-color: #111;
    color: white;
}

/* nav start */
nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    z-index: 2;
}

nav .nav-logo {
    margin: 0 26px;
}

nav .nav-logo a {
    text-decoration: none;
    color: #444;
}

nav .nav-logo a:hover {
    color: whitesmoke;
    transition: .3s;
}

nav .nav-menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav .dark-mode-btn {
    display: flex;
    justify-content: center;
    height: 18px;
    padding: 8px 16px;
    border-radius: 10px;
    filter: brightness(.3);
}

nav .dark-mode-btn:hover {
    background-color: #555;
    transition: .3s;
}

nav .dark-mode-btn img:hover {
    filter: brightness(100);
    transition: .3s;
    cursor: pointer;
}

nav .nav-menu {
    margin: 0 8px;
}

nav .nav-menu li a {
    text-decoration: none;
    padding: 10px 8px;
    border-radius: 10px;
    color: #444;
}

nav .nav-menu li a:hover {
    transition: .3s;
    color: whitesmoke;
}

nav .hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #333;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    nav .dark-mode-btn {
        position: inherit;
        display: flex;
        left: 0;
        right: 0;
        width: 0%;
        margin: 0 50%;
        justify-content: center;
    }
    
    nav .nav-menu {
        position: fixed;
        left: -102%;
        top: 5rem;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        border-radius: 0px;
        text-align: center;
        transition: 0.3s;
    }

    nav .nav-menu.active {
        left: 0;
    }

    nav .nav-item {
        margin: 2.5rem 0;
    }

    nav .hamburger {
        display: block;
        cursor: pointer;
    }

    nav .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    nav .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    nav .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

}
/* nav end */
/* header start */
.full-screen {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/bench-accounting-nvzvOPQW0gc-unsplash.jpg);
    background-position: bottom center;
    background-size: cover;
}

.full-screen-dark-mode {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/daniel-mccullough-80VTQEkRh1c-unsplash.jpg);
    background-position: bottom center;
    background-size: cover;
}

.full-screen p {
    margin-bottom: 400px;
    font-size: 1.3em;
    animation: fadeup 5s forwards;
    opacity: 0;
}

@keyframes fadeup {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.full-screen h1 {
    font-size: 3em;
    animation: fadedown 2s forwards;
    opacity: 0;
}

@keyframes fadedown {
    0% {
        transform: translatey(-100%);
        opacity: 0;
    }
    100% {
        transform: translatey(0);
        opacity: 1;
    }
}
/* header end */

/* photo section start */
h2 {
    display: flex;
    justify-content: center;
    margin: 60px 0;
    font-size: 2em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 600px);
    grid-gap: 8px;
    font-size: 2em;
    font
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999;
    color: white;
    filter: grayscale(1);
    transition: 1.5s;
}

.item:hover {
    filter: grayscale(0);
    transform: scale(1.05);
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px 5px 30px 1px #111;

}

#one {
    grid-row: 1;
    grid-column: 1 / span 2;
    background-image: url(img/Minimalist-photo-1.jpg);
    background-position: center;
    background-size: cover;
}

#two {
    background-image: url(img/Minimalist-photo-2.jpg);
    background-position: center;
    background-size: cover;
}

#three {
    grid-row: 2 / span 2;
    grid-column: 1;
    background-image: url(img/Minimalist-photo-3.jpg);
    background-position: center;
    background-size: cover;
}

#four {
    background-image: url(img/Minimalist-photo-4.jpg);
    background-position: center;
    background-size: cover;
}

#five {
    background-image: url(img/Minimalist-photo-5.jpg);
    background-position: center;
    background-size: cover;
}

#six {
    grid-row: 3;
    grid-column: 2 / span 2;
    background-image: url(img/Minimalist-photo-6.jpg);
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 500px);
        grid-gap: 8px;
    }

}
/* photo section end */

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    margin: 0 16px;
    padding: 30px;
}

article figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article figure img {
    height: 400px;
    width: fit-content;
    border-radius: 15px;
}

#section-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    width: 80vw;
    height: 50vh;
    border-radius: 30px;
}

form {
    max-width: 480px;
}

fieldset {
    border-radius: 10px;
    border-style: none;
}

.fullname input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

.readyorno {
    display: flex;
    justify-content: center;
}

textarea {
    width: 100%;
    border-radius: 5px;
}

button {
    margin: 30px 0;
    width: 100%;
    background-color: #222;
    color: beige;
    font-size: 2em;
    height: 50px;
    border-radius: 10px;
}

button :hover {
    background-color: #111;
    cursor: pointer;
}
/* form end */

footer p {
    display: flex;
    justify-content: center;
}